@page "/old"
@inject HttpClient httpClient

<h1>Students</h1>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a class="btn btn-success btn-sm" href="/add">Create</a>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in students)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.School</td>
                    <td><a class="btn btn-success btn-sm" href="/updatedelete/@item.StudentId/edit">edit</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/updatedelete/@item.StudentId/del">del</a></td>

                </tr>
            }
        </tbody>
    </table>
}


@code {
    Student[]? students;

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        students = await httpClient.GetFromJsonAsync<Student[]>($"{Constants.BaseUrl}api/students");
    }
}
