@page
@using System.Diagnostics
@model RazorWebAppSQlServer.Pages.ProcessesModel
@{
    @* Process[]? processes = ViewData["Processes"] as Process[]; *@
}

<div>
    <table>
        <tr>
            <th>Process Name</th>
            @* <th>PID</th>
            <th>Memory (MB)</th> *@
        </tr>
        @foreach (var item in Model.MyProcesses!)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@item.Id">@item.ProcessName</a></td>
                @* <td>@item.Id</td>
                <td>@(item.WorkingSet64 / (1024 * 1024))</td> *@
            </tr>
        }
    </table>
</div>