@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @*<toon></toon>*@
    @* <div toonie></div> *@
    <toon font-family="arial" font-size="larger" foreground-color="purple">
    </toon>

</div>